.box {
  width: 200px;
  height: 200px;
  border: 2px solid #ff0000;
  border-radius: 10px;
}
.box .box1 {
  width: 100px;
  height: 100px;
  background: #ff0000;
  border: 1px solid green;
  border-radius: 20px;
}
